.view-appointments-container {
  max-width: 85%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
}

.appointment-table th,
.appointment-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #000000;
}

.appointment-table th {
  background-color: #076cea;
  color: white;
}

.appointment-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.appointment-table tr:hover {
  background-color: #f1f1f1;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.accept-btn {
  background-color: #4CAF50;
  color: white;
}

.accept-btn:hover {
  background-color: #45a049;
}

.decline-btn {
  background-color: #f44336;
  color: white;
}

.decline-btn:hover {
  background-color: #e53935;
}

.text-success {
  color: #4CAF50;
  font-weight: bold;
}

.text-danger {
  color: #f44336;
  font-weight: bold;
}
